body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/repeated-square-dark.png);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #10151d;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:10px;
    flex: 1 0 auto;
}
.head {
    font-size:48px;
    color:#F9FAF8;
    font-weight: bold;
    padding:0px;
    margin:0;
    text-shadow: #616161 0px 3px 0px;
}

ul {
    list-style-type: none;
    color:#E5E7EB;
    display: flex;
    font-weight: bold;
    font-size:24px;
    padding: 0px;
    margin:0;
    gap: 16px;
}

.container {
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#10151d, #2e3d52);
    box-shadow: black inset 0px 5px 5px;
    font-family: arial;
    padding:10px;
    gap:150px;
}

.container img {
    width: 25%;
}

.opener {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
    min-width: 0;
}

.upper {
    font-size:48px;
    color:#F9FAF8;
    font-weight: bold;
    text-decoration: underline;
}

.lower {
    font-size: 24px;
    color:#E5E7EB;
}

.btn1 {
    background: #3882F6;
    color:#F9FAF8;
    font-size: 20px;
    padding:5px;
    border: 3px solid white;
    border-radius: 8px;
    margin-top:5px;
    cursor: inherit;
    box-shadow: black 2px 3px 5px;
}

.image {
    display: flex;
    width: 300px;
    margin:10px;
    border:#10151d solid 6px;
    box-shadow: black 5px 5px 5px;
}

.white-container {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-family: arial;
}

.caption {
    font-size: 48px;
    font-weight: bold;
    color:white;
    text-shadow: #616161 2px 3px 0px;
    background-color:#2e3d52 ;
    box-shadow: rgb(77, 77, 77) 2px 5px 5px;
    margin:25px;
    padding:5px;
    border: #10151d solid 5px;
}

.info {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(white, rgb(185, 185, 185));
    flex-direction: row;
    font-size:24px;
    padding:10px;
    font-family: arial;
    flex-flow: wrap;
}

.info img {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-width: 100%;
    width:275px;
    border: #1f2937 solid 6px;
    box-shadow: rgb(77, 77, 77) 7px 7px 5px;
    border-radius: 8px;
    object-fit: cover;
}

.movtitle {
    color:#1f2937;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    padding:12px;
    text-decoration: underline;
    text-align: center;
}

.box3 {
    margin-top:-26px;
}

.quoteheader {
    background-image: linear-gradient(rgb(185, 185, 185), #1F2937);
}

.quote-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: wrap-reverse;
}

.name-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-flow: wrap;
}

.quote {
    display:flex;
    align-items: center;
    border:#1f2937 solid 6px;
    color:rgb(196, 196, 196);
    margin-top:100px;
    padding:10px;
    font-size:48px;
    font-style: italic;
    background-color:#2e3d52;
    text-shadow: #616161 2px 2px 0px;
    font-family: 'Times New Roman', Times, serif;
    word-break: break-word;
    width: 681px;
    box-shadow: black 3px 7px 8px;
}

.ryan {
    display: flex;
    color: #10151d;
    font-size: 48px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
    margin-top: -35px;
    opacity: .6;
}

.ryan2 {
    display: flex;
    color: #10151d;
    font-size: 48px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
    margin-top: -35px;
    opacity: .6;
}

.prof {
    font-size: 20px;
    display:contents;
    font-style: italic;
}

.popup-container {
    display: flex;
    justify-content: space-evenly;
    background-color:#1F2937;
    font-family: Arial, Helvetica, sans-serif;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin:100px;
    padding:40px;
    min-width: 0;
    box-shadow: black 3px 7px 4px;
    background-image: linear-gradient(#3882F6, #295eb3);
    border: white solid 3px;
    border-radius: 8px;
    width:850px;
    height: auto;
}

.btn2 {
    display: flex;
    flex-shrink: 0;
    background: #3882F6;
    color:#F9FAF8;
    font-size: 20px;
    padding:5px;
    border: 3px solid white;
    border-radius: 8px;
    cursor: inherit;
    box-shadow: black 2px 3px 5px;
}

.popup-container :nth-child(3) {
    align-self: flex-end;
}

.message {
    font-size:30px;
    color:#F9FAF8;
    font-weight: bold;
    gap:10px
}

.catch {
    font-size: 20px;
    color:#E5E7EB;
}

.footer {
    display:flex;
    background-color: #10151d;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    box-shadow: black 0px 5px 5px 10px;
    font-size: 20px;
    padding:40px;
}

a:link {
    color:#E5E7EB;
    text-decoration: none;
}

a:visited {
    color:#E5E7EB;
}